<ion-content>
  <form [formGroup]="localForm" (ngSubmit)="onFormSubmit()">
  <ion-card>
    <ion-item class="form-group">
      <ion-icon name="location-outline" style="border-radius: 50%;font-size:19px"></ion-icon>&nbsp;&nbsp;
      <ion-input formControlName="city_name" name="city_name" placeholder="Enter Your City" [(ngModel)]="name" #search  (ionChange)="_ionChange($event)"></ion-input>
    </ion-item>
  </ion-card>

  <div *ngIf="citySelect">
    <ion-list *ngFor="let city of searchedItem">
      <ion-item (click)="searchItem(city,1)">
        <ion-label>{{city.city_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>  
  <ion-card *ngIf="location">
    
    <ion-item class="form-group">
      <ion-icon style="background-color: green;border-radius: 50%;font-size:9px"></ion-icon>&nbsp;&nbsp;
      <ion-input formControlName="picup_location" name="picup_location" placeholder="Enter Current Location" [(ngModel)]="enqiry.picup_location" #search debounce="100" (ionChange)="_ionPChange($event)"></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-icon style="background-color: red;border-radius: 50%;font-size:9px"></ion-icon>&nbsp;&nbsp;
      <ion-input formControlName="dropoff_location" name="dropoff_location" placeholder="Enter Destination Location" [(ngModel)]="enqiry.dropoff_location" #dropoff_location_search debounce="100" (ionChange)="_ionDChange($event)"></ion-input>
    </ion-item>

  </ion-card>

  <div *ngIf="localPSelect">
    <ion-list *ngFor="let local of Locals">
      <ion-item (click)="searchPItem(local,1)">
        <ion-label>{{local.local_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>  

  <div *ngIf="localDSelect">
    <ion-list *ngFor="let local of Locals">
      <ion-item (click)="searchDItem(local,1)">
        <ion-label>{{local.local_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>



  <ion-card *ngIf="vehicle">
    <ion-item class="form-group">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Vehical Type</ion-label>
      <ion-select  formControlName="vehicle_type" name="vehicle_type" [(ngModel)]="enqiry.vehicle_id" (ionChange)="onChangeVehicleType($event.target.value)">
        <ion-select-option *ngFor="let VehicleType of VehicleTypes" value="{{VehicleType.vehicle_type_id}}">{{VehicleType.vehicle_type}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-group">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Vehical</ion-label>
      <ion-select  formControlName="vehicle_name" name="vehicle_name" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="enqiry.vehicle_id">
        <ion-select-option *ngFor="let Vehicle of Vehicles" value="{{Vehicle.vehicle_name}}">{{Vehicle.vehicle_name}}</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-item class="form-group">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Date & Time</ion-label>
      <ion-datetime formControlName="picup_date" name="Pickup_date" displayFormat="DD/MM/YYYY h:mm a" placeholder="Select Date" [(ngModel)]="enqiry.picup_date"></ion-datetime>
    </ion-item>
    
  </ion-card>
 
  <footer *ngIf="submit">
    <ion-button type="submit" color="danger" expand="full" class="ion-no-margin">Submit</ion-button>
  </footer>
  </form>
</ion-content>

 
