<ion-content>
  <ion-card>
    <ion-item >
      <ion-icon name="location-outline" style="border-radius: 50%;font-size:19px"></ion-icon>&nbsp;&nbsp;
      <ion-input placeholder="Enter Your City" [(ngModel)]="name" #search debounce="100" (ionChange)="_ionChange($event)"></ion-input>
    </ion-item>
  </ion-card>

  <div *ngIf="citySelect">
    <ion-list *ngFor="let city of searchedItem">
      <ion-item (click)="searchItem(city,1)">
        <ion-label>{{city.city_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>  
  <ion-card *ngIf="location">
    
    <ion-item >
      <ion-icon style="background-color: green;border-radius: 50%;font-size:9px"></ion-icon>&nbsp;&nbsp;
      <ion-input placeholder="Enter Current Location" [(ngModel)]="picup_location" #search debounce="100" (ionChange)="_ionPChange($event)"></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-icon style="background-color: red;border-radius: 50%;font-size:9px"></ion-icon>&nbsp;&nbsp;
      <ion-input placeholder="Enter Destination Location" [(ngModel)]="dropoff_location" #dropoff_location_search debounce="100" (ionChange)="_ionDChange($event)"></ion-input>
    </ion-item>

  </ion-card>

  <div *ngIf="localPSelect">
    <ion-list *ngFor="let local of Locals">
      <ion-item (click)="searchPItem(local,1)">
        <ion-label>{{local.local_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>  

  <div *ngIf="localDSelect">
    <ion-list *ngFor="let local of Locals">
      <ion-item (click)="searchDItem(local,1)">
        <ion-label>{{local.local_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>







<ion-content *ngif="0">
  <div class="spin" *ngIf="spinner">
    <ion-spinner color="danger" name="crescent"></ion-spinner>
  </div>
  
  <!-- <ion-input (ionChange)="onAsyncChangeCity()" type="text" [(ngModel)]="name" text-right id="input" ></ion-input> -->
  <form [formGroup]="localForm" (ngSubmit)="onFormSubmit()">
  <!-- <ion-card class="ion-text-start" style="border-radius: 20px;"> -->
    <ion-row style="padding-top: 20px;padding-bottom: 20px;">
      <ion-col size="12">
        <ion-card>
          <ion-item class="form-group">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>City</ion-label>
            <ion-select  formControlName="city_name" name="city_name" okText="Okay" cancelText="Dismiss" (ionChange)="onChangeCity($event.target.value)">
              <ion-select-option *ngFor="let city of city" value="{{city.city_id}}">{{city.city_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
       

        <ion-card *ngIf="0">
          <ion-item class="form-group">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>From</ion-label>
            <ion-select  formControlName="picup_location" name="picup_location" okText="Okay" cancelText="Dismiss" [(ngModel)]="enqiry.picup_location">
              <ion-select-option *ngFor="let local of Locals" value="{{local.local_name}}">{{local.local_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        <!-- </ion-card> -->
        <!-- <ion-card> -->
          <ion-item class="form-group">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>To</ion-label>
            <ion-select  formControlName="dropoff_location" name="dropoff_location" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="enqiry.dropoff_location">
              <ion-select-option *ngFor="let local of Locals" value="{{local.local_name}}">{{local.local_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
       <ion-card *ngIf="0">
          <ion-item class="form-group">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            <ion-label>Vehical Type</ion-label>
            <ion-select  formControlName="vehicle_type" name="vehicle_type" [(ngModel)]="enqiry.vehicle_id" (ionChange)="onChangeVehicleType($event.target.value)">
              <ion-select-option *ngFor="let VehicleType of VehicleTypes" value="{{VehicleType.vehicle_type_id}}">{{VehicleType.vehicle_type}}</ion-select-option>
            </ion-select>
          </ion-item>
      <!-- </ion-card>
      <ion-card> -->
        <ion-item class="form-group">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>Vehical</ion-label>
          <ion-select  formControlName="vehicle_name" name="vehicle_name" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="enqiry.vehicle_id">
            <ion-select-option *ngFor="let Vehicle of Vehicles" value="{{Vehicle.vehicle_name}}">{{Vehicle.vehicle_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      <!-- </ion-card>
      <ion-card>   -->
        <ion-item class="form-group">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Date</ion-label>
          <ion-datetime formControlName="picup_date" name="Pickup_date" displayFormat="DD/MM/YYYY" placeholder="Select Date" [(ngModel)]="enqiry.picup_date"></ion-datetime>
        </ion-item>
      <!-- </ion-card>
    <ion-card> -->
      <ion-item class="form-group">
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>Time</ion-label>
        <ion-datetime formControlName="picup_time" name="Pickup_time" displayFormat="h:mm a" placeholder="Select Time" [(ngModel)]="enqiry.picup_time"></ion-datetime>
      </ion-item>
    </ion-card>  
  
  </ion-col>
    <!-- <ion-col size="1"></ion-col> -->
  </ion-row>
  <footer *ngIf="0">
    <ion-button type="submit" color="danger" expand="full" class="ion-no-margin">Submit</ion-button>
  </footer>
  <!-- </ion-card> -->
</form>
</ion-content>
 
