$colors: (
    gray : #ccc,
    dark : #222
);


  /*.ion-padding-top {
    padding-top: 20px	
}*/

.spin{
  text-align: center;
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}