

<ion-content>

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <img src="assets\icon\slider1.jpeg" style="max-width: 100%;max-height: 100%;"/>
          <h3 style="font-size: 22px;">Welcome to GM CABS online cab booking service</h3>
         
        </div>
      </ion-slide>

      <ion-slide>
        <img src=""/>
        <h2 style="color: red;font-family: 'Federo';font-size: 30px">GMCABS</h2>
        <p style="font-family: 'Federo';font-size: 18px;">We, at GM Cabs, built a strong relationship with customers through our world-class services. We completely realize the needs of customers and services according to them.</p>
        <ion-button fill="clear" (click)="GoLogin()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>

</ion-content>
